.container {
  background-color: #5f3f78;
  /* width: 100%; */
  min-height: 100%;

  color: #d499b9;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  font-size: 4rem;
}
